<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h2> About This application </h2>
    <p> This application is used to detect racism content. Most of SriLankan people
      use their native language written using English language. This app is using this
      singlish language to predict the type of content.</p>
    <p>Please find the complete source code in <a href="https://github.com/sashinipi/Singlish-Recism-Detection">this location.</a> </p>
    <h2>Author</h2>
    <p>SashniP Find me on <a href="https://www.facebook.com/shashinipiyaratne">Facebook.</a></p>
    {% endblock %}
  </body>
</html>
